
@font-face {
    font-family: Exo;
    src: url(Exo2-Light.ttf);  /* first font == regular */
}

.footer_container{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 50vh;
}

#first{
    margin-left: 50px;
}

.footer_container h2{
    font-weight: lighter;
    color: gray;
}

.column{
    margin-top: 30px;
    width: 33%;
    padding-left: 20px;
}



.fa-linkedin {
    background: black;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10px;

}
.fa-instagram {
    background: black;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 20px;

}

@media screen and (max-width: 600px) {
    .footer_container{
        display: block;
        height: 100vh;
    }
    .fa-instagram{
        margin-left: 2px;
    }
    .fa-linkedin{
        margin-left: 2px;
    }
    .column{
        width: 100vw;
        padding-bottom: 20px;
    }
    #first{
        margin-left: 0;
    }
    #first2{
        padding-top: 20px;
    }
    .space{
        display: none;
    }
}
