@font-face {
    font-family: Exo;
    src: url(Exo2-ExtraLight.otf);  /* first font == regular */
  }

.hero-container {
    background: url('./Images/Earth.jpg') center center/cover
    no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.title {

    color:white;
    font-family: Exo;
    margin: 20px;
    top: 40%;
    position: absolute;
    margin-left: 10rem;
    margin-right: 10rem

}

@media screen and (max-width: 600px) {
    .title {
        margin-left: 4rem;
    }
}