
.hero-container {
    background: url('./Images/Earth.jpg') center center/cover
    no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.title {
    z-index: 10;
    color: rgb(196, 39, 39);
}