@font-face {
  font-family: Exo;
  src: url(Exo2-Light.ttf);  /* first font == regular */
}

.NavbarItems {
  position: fixed;
  
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background: #000000;
  left: 3%;
  position: fixed;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  padding-top: 10%;
  text-align: center;
  padding: 2rem;
  width: 90%;
  display: table;
  font-family: Exo;
  text-decoration: none;
  color: #fff;
}

.nav-links:hover {
  background-color: #fff;
  color: #242424;
  border-radius: 0.1;
}

.navbar-logo {
  position: fixed;
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 100;
}

.logo {
  height: 60px;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-bars {
  
  color:rgb(199, 199, 199);
  padding-top: 10px;
  padding-left: 10px;
}

.fa-times {
  color:rgb(199, 199, 199);
  padding-top: 10px;
  padding-left: 10px;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}
  @media screen and (max-width: 960px) {
    .nav-menu {
      width: 80%;
    }

    .nav-links {
      width: 80%;

    }

    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0.1;
      width: 70%;
    }
  }